<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">L'entreprise</h5>
                <p class="grey-text text-lighten-4">Basée à Couzon-Mont-d'Or, tout près de Lyon, forte d'une experience de plus de 12 ans, la société Elissar fait désormais partie des principaux éditeurs de progiciels de gestion de l'Action Sociale.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Liens utiles</h5>
                <ul>
                    <li><a class="white-text" href="http://www.unccas.org/">UNCCAS</a></li>
                    <li><a class="white-text" href="http://www.caf.fr/">CAF</a></li>
                    <li><a class="white-text" href="http://www.service-public.fr/">Service public</a></li>
                    <li><a class="white-text" href="http://www.ash.tm.fr/">ASH</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Nos partenaires</h5>
                <ul>
                    <li><a class="white-text" href="http://www.penbase.com/">Penbase</a></li>
                    <li><a class="white-text" href="https://www.mapotempo.com/">MapoTempo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="brown-text text-lighten-3">Elissar &copy; <%= moment().format('YYYY'); %></p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
<script src="js/init.js"></script>
<script>
    $("#tel-contact").click(function(){
        new Clipboard('#tel-contact');
    });

</script>
