<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link type="text/css" rel="stylesheet" href="/css/assistance.css"  media="screen,projection"/>
</head>
<body class="grey lighten-5">
    <% include partials/menu %>
    <div class="container">
        <div class="row">
            <div class="col s10 offset-l">
                <h5 class="margin-top-30">Téléchargez le programme de prise en main ici</h5>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/img/teamviewer.png">
                    </div>
                    <div class="card-content">
                        <p><b>TeamViewer</b> : Logiciel de téléassistance, accès à distance et réunions en ligne adopté par le monde entier.</p>
                    </div>
                    <div class="card-action">
                        <a href="/downloadTeamViewer">Télecharger</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/img/fastviewer.png">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p><b>Fastviewer</b> : La solution complète pour les réunions en ligne, de collaboration et de conférence Web.</p>
                    </div>
                    <div class="card-action">
                        <a href="/downloadFastviewer">Télecharger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>