<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Elissar</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">Obtenez votre <b>essai gratuit</b> !</h5>
            </div>
            <div class="row center">
                <a href="#modalEssai" id="download-button" class="modal-trigger btn-large waves-effect waves-light teal lighten-1" onclick="$('#modalEssai').openModal();"><i class="material-icons left">play_circle_outline</i>Essai gratuit</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/img/test4.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h3 class="teal-text text-lighten-2">Un logiciel pensé pour l'action sociale</h3>
                <div class="divider"></div>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Les deux pilônes de notre société sont la <strong>qualité de nos produits</strong> et une <strong>adéquation sans faille</strong> avec les besoins des différents services de l'action sociale. </p>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Notre réussite repose aussi sur une <strong>personnalisation totale</strong> du produit, et sur l'<strong>accompagnement continu</strong> des utilisateurs de notre logiciel.</p>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Grâce à un <strong>service de qualité</strong> nous réussirons, avec vous, à relever le défi de l'<strong>innovation</strong> et de la <strong>simplicité</strong> d'utilisation des outils informatiques.</p>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Nous savons <strong>faire la différence</strong> : choisir notre solution c'est être résolument proche des préoccupations de notre temps.</p>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 white-text">Nos spécificités</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/test2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">folder_shared</i></h2>
                    <h5 class="center">Un dossier véritablement unique</h5>

                    <p class="light justify">Retrouvez l'ensemble des interventions et demandes d'un usager réunies dans un seul et unique dossier.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
                    <h5 class="center">Saisie sur le formulaire</h5>

                    <p class="light justify">La saisie se fait directement sur le formulaire associé à chaque dispositif, quel qu'il soit. Le recueil des informations concernant les demandeurs
                        d'aides sociales légales, d'aides financières, de RMI, de logement, d'aides à domicile, de portage de repas... alimente une véritable base unique !</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Livraison clés en main</h5>

                    <p class="light justify">L'application est livrée entièrement adaptée au fonctionnement du CCAS, sans développement spécifique : les prestations proposées par les services sont regroupées par catégories librement
                        définies. L'architecture évolutive est entièrement modifiable, sans la moindre connaissance de langage informatique.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
                    <h5 class="center">Services proposés</h5>

                    <p class="light justify">Mise en place de l'ensemble de vos formulaires de saisie.
                        Formation adaptée au métier de chaque agent.
                        Assistance au démarrage.
                    </p><p class="light justify"> Démonstration de notre solution en ligne : <a onclick="$('#modalEssai').openModal();" href="#">Contactez-nous</a></p>
                </div>
            </div>
        </div>

        <div class="row margin-top-100">
          <h4 class="teal-text text-lighten-2">L'equipe</h4>
          <div class="divider"></div>
        </div>
        <div class = "row">
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/utilisateur.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/femme.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/utilisateur.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/utilisateur.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
      </div>
      <div class = "row">
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/femme.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/utilisateur.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/utilisateur.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
          <div class="col 12 m6 l3">
            <div class="row">
                <div class="col m6">  
                    <img class="responsive-img circle" src="/img/femme.png">
                </div>
                <div class="col m6">  
                    <p>bl bl bl bl</p>
                </div> 
            </div>
          </div>
      </div>

        <div class="row margin-top-100">
          <h4 class="teal-text text-lighten-2">Quelques références</h4>
          <div class="divider"></div>
        </div>
        <div class = "row">
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row margin-top-100">
        <h4 class="teal-text text-lighten-2">Carte des clients</h4>
        <div class="divider"></div>
      </div>
      <div class = "row">
          <iframe src="https://www.google.com/maps/d/embed?mid=1jwSQPjDlbEfTvyZ5H22t8062VuE" width="100%" height="480"></iframe>
      </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"><strong>Elissar</strong>... L'essentiel est nécessairement visible.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/test3.jpg" alt="Unsplashed background img 3"></div>
</div>




<% include modals %>
<% include partials/footer %>


</body>
</html>
