<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Elissar</h1>
            <div class="row center">
                <h5 class="header col s12 light black-text">Obtenez votre <b>essai gratuit</b> !</h5>
            </div>
            <div class="row center">
                <a href="#modalEssai" id="download-button" class="modal-trigger btn-large waves-effect waves-light teal lighten-1" onclick="$('#modalEssai').openModal();"><i class="material-icons left">play_circle_outline</i>Essai gratuit</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/img/test4.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h3 class="teal-text text-lighten-2">La gestion complète du CCAS</h3>
                <div class="divider"></div>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Les deux pilônes de notre société sont la <strong>qualité de nos produits</strong> et une <strong>adéquation sans faille</strong> avec les besoin des différents services de l'action sociale. </p>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Grâce à un <strong>service de qualité</strong> nous réussiront, avec vous, à relever le défi de l'<strong>innovation</strong> et de la <strong>simplicité</strong> d'utilisation des outils informatiques.</p>
                <p class="left-align light flow-text"><i class="material-icons left teal-text">label</i>Nous savons <strong>faire la différence</strong>  choisir notre solution c'est être résolumment proche de préoccupations de notre temps.</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 white-text">Nos point forts</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/test2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
                    <h5 class="center">Saisie sur le formulaire</h5>

                    <p class="light justify">La saisie se fait directement sur le formulaire associé à chaque dispositif, quel qu'il soit. Le recueil des informations concernant les demandeurs
                        d'aides sociales légales, d'aides financières, de RMI, de logement, d'aides à domicile, de portage de repas... alimente une véritable base unique !</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Livraison clés en main</h5>

                    <p class="light justify">L'application est livrée entièrement adaptée au fonctionnement du CCAS, sans développement spécifique : les prestations proposées par les services sont regroupées par catégories librement
                        définies. L'architecture évolutive est entièrement modifiable, sans la moindre connaissance de langage informatique.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
                    <h5 class="center">Services proposés</h5>

                    <p class="light justify">Mise en place de l'ensemble de vos formulaires de saisie.
                        Formation adaptée au métier de chaque agent.
                        Assistance au démarrage.

                        Démonstration de notre solution en ligne: contactez-nous !</p>
                </div>
            </div>
        </div>


        <div class="row margin-top-100">
          <h4 class="teal-text text-lighten-2">Quelques références</h4>
          <div class="divider"></div>
        </div>
        <div class = "row">
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
          <div class="col 12 m6 l3">
              <div class="card hoverable">
                  <div class="card-image">
                      <img src="/img/vdl.png">
                  </div>
                  <div class="card-content">
                      <h5>Ville de lyon<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                      <br/>
                      <div class="chip">
                          <img src="img/yuna.jpg">
                          Madame Pouet, agent CCAS
                      </div>
                      <p><i>Elissar c'est génial</i></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">La ville de Lyon<i class="material-icons right">close</i></span>
                    <p>BlablaBlablaBlablaBlablaBlabla plein de chose sur le client</p>
                  </div>
              </div>
          </div>
      </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"><strong>Elissar</strong>... L'essentiel est nécessairement visible.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/test3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">L'entreprise</h5>
                <p class="grey-text text-lighten-4">Basé à Couzon-Mont-d'Or, tout près de Lyon, la société Elissar fait désormais partie des principaux éditeurs de progiciels de gestion de l'Action Sociale.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Liens utiles</h5>
                <ul>
                    <li><a class="white-text" href="http://www.unccas.org/">UNCCAS</a></li>
                    <li><a class="white-text" href="http://www.caf.fr/">CAF</a></li>
                    <li><a class="white-text" href="http://www.service-public.fr/">Service public</a></li>
                    <li><a class="white-text" href="http://www.ash.tm.fr/">ASH</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Nos partenaires</h5>
                <ul>
                    <li><a class="white-text" href="http://www.penbase.com/">Penbase</a></li>
                    <li><a class="white-text" href="https://www.mapotempo.com/">MapoTempo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="brown-text text-lighten-3">Elissar &copy; <%= moment().format('YYYY'); %></p>
        </div>
    </div>
</footer>


<% include modals %>
<% include partials/footer %>


</body>
</html>
