<div id="modalEssai" class="modal modal-fixed-footer">
    <form action="/demo" method="post">
        <div class="modal-content" style="height:calc(100% - 20px)">
            <div class="card-panel">
                <h5>Faites votre demande dès maintenant !</h5>
                <h6 class="blue-text text-darken-2">Essai gratuit et sans engagement de EConcept Web.</h6>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s5">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="nom" id="nom" type="text" class="validate" required="" aria-required="true">
                            <label for="nom">Nom</label>
                        </div>
                        <div class="input-field col s5">
                            <i class="material-icons prefix">account_circle</i>
                            <input class="prenom" id="prenom" type="text" class="validate" required="" aria-required="true">
                            <label for="prenom">Prénom</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <i class="material-icons prefix">business</i>
                            <input name="societe"  type="text" class="validate" required="" aria-required="true">
                            <label for="societe">Collectivité / Société</label>
                        </div>
                        <div class="input-field col s5">
                            <i class="material-icons prefix">phone</i>
                            <input name="telephone" id="telephone" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="validate" required="" aria-required="true">
                            <label for="telephone" data-error="Numéro non valide">Téléphone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <i class="material-icons prefix">email</i>
                            <input name="email" id="email" type="email" class="validate" required="" aria-required="true">
                            <label for="email" data-error="Email non valide">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="message" id="message" class="materialize-textarea"></textarea>
                            <label for="message">Votre message</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>


<div id="modalAssistance" class="modal modal-fixed-footer">
    <form action="/demo" method="post">
        <div class="modal-content" style="height:calc(100% - 20px)">
            <div class="card-panel">
                <h5>Téléchargez le programme de prise en main ici.</h5>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="/img/teamviewer.png">
                        </div>
                        <div class="card-content">
                            <p><b>TeamViewer</b> : Logiciel de téléassistance, accès à distance et réunions en ligne.</p>
                        </div>
                        <div class="card-action">
                            <a href="/downloadTeamViewer">Télecharger</a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="/img/fastviewer.png">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p><b>Fastviewer</b> : La solution complète pour les réunions en ligne, de collaboration et de conférence Web.</p>
                        </div>
                        <div class="card-action">
                            <a href="/downloadFastviewer">Télecharger</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalContact" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row">
            <div class="col m12 l4">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Tarek Ezzedine</span>
                        <div class="row">
                            <div class="col m6">  
                                <img class="responsive-img circle" src="/img/utilisateur.png">
                            </div>
                            <div class="col m6">  
                                <i class="material-icons">contact_phone</i><p>06 06 06 06 06</p>
                                <i class="material-icons">contact_mail</i><p>tezzedine@elissar.fr</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m12 l4">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Arthur Ezzedine</span>
                        <div class="row">
                            <div class="col m6">  
                                <img class="responsive-img circle" src="/img/utilisateur.png">
                            </div>
                            <div class="col m6">  
                                <i class="material-icons">contact_phone</i><p>06 06 06 06 06</p>
                                <i class="material-icons">contact_mail</i><p>tezzedine@elissar.fr</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m12 l4">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Ghislaine Levrold</span>
                        <div class="row">
                            <div class="col m6">  
                                <img class="responsive-img circle" src="/img/femme.png">
                            </div>
                            <div class="col m6">  
                                <i class="material-icons">contact_phone</i><p>06 06 06 06 06</p>
                                <i class="material-icons">contact_mail</i><p>tezzedine@elissar.fr</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>